<div
  class="flex flex-col items-center justify-center text-center px-4"
  data-aos="fade-down"
>
  <h2 class="text-4xl font-bold text-black dark:text-white mb-4">
    Experiencia
  </h2>
</div>

<div class="py-16">
  <div class="relative">
    <!-- Línea vertical -->
    <div
      class="absolute left-4 top-0 bottom-0 w-px bg-[#7946e3] opacity-30"
      data-aos="zoom-in-down"
    ></div>

    <!-- Iteramos experiencias -->
    <div
      class="relative pl-12 mb-12"
      *ngFor="let exp of experiencias; let last = last"
    >
      <!-- Icono de punto -->
      <div
        class="absolute left-2 top-1.5 w-4 h-4 rounded-full bg-[#7946e3] z-10"
        data-aos="zoom-in-down"
      ></div>

      <!-- Tarjeta -->
      <div
        class="bg-white dark:bg-[#14141F] border border-gray-200 dark:border-neutral-700 rounded-xl p-6 shadow-md"
        data-aos="zoom-in-down"
      >
        <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">
          {{ exp.fecha }}
        </p>
        <h3
          class="text-lg md:text-xl font-bold text-gray-800 dark:text-white flex items-center gap-2"
        >
          {{ exp.empresa }}
        </h3>
        <span class="font-semibold text-gray-500 dark:text-gray-400">{{
          exp.puesto
        }}</span>

        <div class="mt-3 space-y-2">
          <p
            *ngFor="let desc of exp.descripcion"
            class="text-sm text-gray-600 dark:text-gray-300"
          >
            {{ desc }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
