---
import ChevroUp from "../icons/chevroUp.astro";

---

<div class="mt-20 flex justify-center">
  <button id="scroll-top" class="flex flex-col items-center gap-2 group">
    <span class="text-xs font-bold uppercase tracking-widest text-slate-600 dark:text-slate-400  group-hover:text-primary transition-colors">
      Desplazarse hacia arriba
    </span>
    <div class="flex items-center justify-center size-10 rounded-full border border-slate-200 dark:border-primary/30 text-slate-600 dark:text-slate-400  group-hover:border-primary group-hover:text-primary transition-all">
      <ChevroUp class="size-4" />
    </div>
  </button>
</div>

<script>
  document.getElementById('scroll-top')?.addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });
</script>